<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up To Continue</h1>
    <form action="/user" method="post" >
        <label>Full name:</label>
        <input required name="name" type="text"/>
        <label>Email:</label>
        <input required name="email" type="text"/>
        <label>Password:</label>
        <input required name="password" type="text"/>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>